In [1]:
import pandas as pd
import xlrd

In [2]:
car = pd.read_excel(r"D:\cars\datascience project\car.xlsx")

In [3]:
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,NaN,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197
5,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21,28,3450,105,186
6,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,NaN,242,20,26,3450,105,186
7,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
8,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
9,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

In [4]:
car.shape

(10, 15)

In [5]:
car.isnull()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         10 non-null     object
 1   Model        10 non-null     object
 2   Type         10 non-null     object
 3   Origin       10 non-null     object
 4   DriveTrain   10 non-null     object
 5   MSRP         10 non-null     object
 6   Invoice      10 non-null     object
 7   EngineSize   10 non-null     float64
 8   Cylinders    8 non-null      float64
 9   Horsepower   10 non-null     int64
 10  MPG_City     10 non-null     int64
 11  MPG_Highway  10 non-null     int64
 12  Weight       10 non-null     int64
 13  Wheelbase    10 non-null     int64
 14  Length       10 non-null     int64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.3+ KB

In [7]:
car.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [8]:
car['Cylinders'].fillna

<bound method Series.fillna of 0    6.0
1    NaN
2    4.0
3    6.0
4    6.0
5    5.0
6    NaN
7    6.0
8    4.0
9    5.0
Name: Cylinders, dtype: float64>

In [9]:
car['Cylinders'].fillna(car['Cylinders'].mean())

0    6.00
1    5.25
2    4.00
3    6.00
4    6.00
5    5.00
6    5.25
7    6.00
8    4.00
9    5.00
Name: Cylinders, dtype: float64

In [10]:
car['Cylinders'].fillna(car['Cylinders'].median())

0    6.0
1    5.5
2    4.0
3    6.0
4    6.0
5    5.0
6    5.5
7    6.0
8    4.0
9    5.0
Name: Cylinders, dtype: float64

In [11]:
car['Cylinders'].fillna(car['Cylinders'].mean(), inplace=True)

In [12]:
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.00,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,5.25,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.00,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.00,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.00,225,18,24,3880,115,197
5,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.00,197,21,28,3450,105,186
6,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.25,242,20,26,3450,105,186
7,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.00,268,19,26,3653,110,190
8,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.00,170,22,29,2822,101,180
9,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.00,208,20,27,3823,109,186

In [13]:
car['Make'].value_counts()

Acura    5
Volvo    5
Name: Make, dtype: int64

In [14]:
car['Origin'].isin(['Asia','Europe'])

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Origin, dtype: bool

In [15]:
car[car['Origin'].isin(['Asia','Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.00,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,5.25,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.00,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.00,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.00,225,18,24,3880,115,197
5,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.00,197,21,28,3450,105,186
6,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.25,242,20,26,3450,105,186
7,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.00,268,19,26,3653,110,190
8,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.00,170,22,29,2822,101,180
9,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.00,208,20,27,3823,109,186

In [16]:
car['Weight']>4000

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Weight, dtype: bool

In [17]:
car[car['Weight']>4000]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189

In [19]:
car[~(car['Weight']>4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,5.25,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.00,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.00,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.00,225,18,24,3880,115,197
5,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.00,197,21,28,3450,105,186
6,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.25,242,20,26,3450,105,186
7,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.00,268,19,26,3653,110,190
8,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.00,170,22,29,2822,101,180
9,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.00,208,20,27,3823,109,186

In [20]:
#increase all the values of "mpg_city" column by 3

In [21]:
car['MPG_City'] = car['MPG_City'].apply(lambda x: x+3)

In [22]:
car['MPG_City']

0    20
1    27
2    25
3    23
4    21
5    24
6    23
7    22
8    25
9    23
Name: MPG_City, dtype: int64

In [23]:
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.00,265,20,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,5.25,200,27,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.00,200,25,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.00,270,23,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.00,225,21,24,3880,115,197
5,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.00,197,24,28,3450,105,186
6,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.25,242,23,26,3450,105,186
7,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.00,268,22,26,3653,110,190
8,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.00,170,25,29,2822,101,180
9,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.00,208,23,27,3823,109,186