In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_nse.csv')

In [3]:
df

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,13-Apr-2022,90.30,90.70,92.40,89.25,90.00,89.50,90.72,175093,158.84,2825,76989,43.97
1,21STCENMGM,EQ,13-Apr-2022,30.55,30.90,30.95,30.10,30.75,30.65,30.50,9155,2.79,153,5785,63.19
2,3IINFOLTD,EQ,13-Apr-2022,66.40,68.00,68.50,66.05,66.55,66.45,67.04,561267,376.29,6424,284329,50.66
3,3MINDIA,EQ,13-Apr-2022,21378.40,21232.00,21400.00,21200.00,21300.00,21339.95,21274.20,1099,233.80,707,642,58.42
4,3PLAND,EQ,13-Apr-2022,19.40,19.80,20.45,19.45,19.50,19.50,19.57,9541,1.87,184,7940,83.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,ZOTA,EQ,13-Apr-2022,325.50,324.10,348.70,324.10,342.00,335.65,331.03,31950,105.76,746,24442,76.5
2201,ZUARI,EQ,13-Apr-2022,177.45,181.00,186.10,178.75,183.10,183.15,182.91,285673,522.52,4679,134629,47.13
2202,ZUARIGLOB,EQ,13-Apr-2022,192.05,194.85,198.40,192.20,192.50,192.90,195.73,134238,262.74,3885,41600,30.99
2203,ZYDUSLIFE,EQ,13-Apr-2022,363.35,365.00,369.35,361.10,364.25,364.80,365.07,711276,2596.67,14952,212300,29.85
2204,ZYDUSWELL,EQ,13-Apr-2022,1654.35,1662.65,1693.85,1662.60,1665.00,1668.55,1674.67,23427,392.32,3308,13049,55.7

In [4]:
print(df['SYMBOL'].dtype)

object

In [5]:
print(df['PREV_CLOSE'])

0          90.30
1          30.55
2          66.40
3       21378.40
4          19.40
          ...
2200      325.50
2201      177.45
2202      192.05
2203      363.35
2204     1654.35
Name: PREV_CLOSE, Length: 2205, dtype: float64