In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [2]:
data = pd.read_csv("C:/Users/lenovo/Downloads/archive/Loan payments data.csv")

In [3]:
data.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

In [4]:
print("Dataset Length::", len(data))
print("Dataset Shape::", data.shape)

Dataset Length:: 500
Dataset Shape:: (500, 11)

In [5]:

data['effective_date'] = pd.to_datetime(data['effective_date'])
data['due_date'] = pd.to_datetime(data['due_date'])
# data['due_date'] = pd.to_datetime(data['due_datee'])

In [6]:
data = data.drop('loan_status', axis=1)

In [7]:
data.head()

,Loan_ID,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,1000,30,2016-09-08,2016-10-07,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,1000,30,2016-09-08,2016-10-07,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,1000,30,2016-09-08,2016-10-07,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,1000,15,2016-09-08,2016-09-22,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,1000,30,2016-09-09,2016-10-08,9/23/2016 21:36,NaN,28,college,female

In [8]:
x = data.values[:, 1:3]
y = data.values[:, 0]
print(x)

[[1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [300 7]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [300 7]
 [1000 15]
 [1000 30]
 [900 7]
 [1000 7]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [800 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [700 15]
 [1000 15]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 7]
 [1000 15]
 [1000 15]
 [800 7]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [800 15]
 [900 15]
 [1000 30]
 [1000 30]
 [300 7]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 7]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [800 15]
 [800 15]
 [1000 7]
 [800 15]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 7]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 7]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 7]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [300 7]
 [1000 15]
 [800 15]
 [1000 15]
 [800 15]
 [500 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [800 30]
 [1000 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [800 15]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [300 7]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [800 15]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 7]
 [1000 30]
 [1000 30]
 [300 7]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [800 15]
 [800 15]
 [800 15]
 [1000 15]
 [1000 7]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 15]
 [1000 30]
 [1000 15]
 [800 15]
 [800 15]
 [1000 7]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 30]
 [500 7]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 7]
 [1000 30]
 [800 15]
 [1000 15]
 [800 30]
 [1000 15]
 [800 15]
 [1000 15]
 [800 15]
 [1000 15]
 [1000 30]
 [800 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [800 15]
 [800 30]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [800 15]
 [800 15]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [800 30]
 [800 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 15]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [800 15]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [500 15]
 [800 15]
 [1000 15]
 [800 7]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [800 15]
 [1000 30]
 [800 15]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 15]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [800 15]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 30]
 [1000 15]
 [1000 30]
 [1000 30]
 [1000 15]
 [800 15]
 [1000 30]
 [1000 30]]

In [9]:
# print(y)

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state=100)
clf_entropy = DecisionTreeClassifier(criterion="entropy", random_state = 100, max_depth=3, min_samples_leaf=5)
clf_entropy.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [11]:
y_pred_en = clf_entropy.predict(x_test)
print(y_pred_en)

['xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160010' 'xqd20160003'
 'xqd20160010' 'xqd12160159' 'xqd20160003' 'xqd20160003' 'xqd20160003'
 'xqd20160010' 'xqd20160003' 'xqd20160014' 'xqd12160159' 'xqd12160159'
 'xqd20160003' 'xqd12160159' 'xqd20160003' 'xqd12160159' 'xqd20160003'
 'xqd12160159' 'xqd20160003' 'xqd20160003' 'xqd20160010' 'xqd20160010'
 'xqd12160159' 'xqd12160159' 'xqd20160003' 'xqd20160010' 'xqd20160003'
 'xqd20160010' 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd12160159'
 'xqd20160003' 'xqd20160010' 'xqd20160003' 'xqd20160010' 'xqd20160003'
 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160010' 'xqd20160010'
 'xqd20160003' 'xqd20160003' 'xqd20160010' 'xqd20160003' 'xqd20160010'
 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd12160159' 'xqd12160159'
 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd12160159' 'xqd20160003'
 'xqd20160010' 'xqd20160010' 'xqd20160003' 'xqd20160010' 'xqd20160003'
 'xqd12160159' 'xqd20160003' 'xqd12160159' 'xqd20160003' 'xqd20160003'
 'xqd20160003' 'xqd12160159' 'xqd20160003' 'xqd12160159' 'xqd20160010'
 'xqd20160003' 'xqd12160159' 'xqd12160159' 'xqd12160159' 'xqd20160003'
 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd12160159' 'xqd12160159'
 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160010' 'xqd20160003'
 'xqd20160003' 'xqd20160003' 'xqd12160159' 'xqd12160159' 'xqd20160003'
 'xqd20160010' 'xqd20160010' 'xqd20160003' 'xqd20160003' 'xqd20160003'
 'xqd20160014' 'xqd20160010' 'xqd20160003' 'xqd20160003' 'xqd12160159'
 'xqd20160003' 'xqd20160010' 'xqd20160003' 'xqd20160003' 'xqd12160159'
 'xqd20160010' 'xqd20160010' 'xqd12160159' 'xqd20160003' 'xqd20160003'
 'xqd20160010' 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160010'
 'xqd20160003' 'xqd20160010' 'xqd20160003' 'xqd20160010' 'xqd12160159'
 'xqd20160003' 'xqd20160010' 'xqd20160010' 'xqd20160003' 'xqd20160010'
 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd12160159'
 'xqd20160003' 'xqd12160159' 'xqd20160003' 'xqd20160003' 'xqd20160003'
 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160003'
 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160003' 'xqd20160010']

In [12]:
print("Accuracy is ", accuracy_score(y_test, y_pred_en)*100)

Accuracy is  0.0